@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
/*Permet de récupérer en ligne la police souhaitée*/

*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Raleway, Arial;
    margin: 0;
    width: 100%;
    height: auto;
}

a{
    color: black;
}

a:link{
    text-decoration: none;
}

ul{
    list-style: none;
}

/*-------------------------------------------------------*/

header{
    display: flex;
    padding: 50px 50px 0 50px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

nav{
    position: relative;
    top: -12px;
}
.logo{
    width: 140px;
    height: auto;
    padding-left: 20px;
}

.nav_bar li{
    display: inline-block;
    padding: 0 20px;
}

.nav_bar li::before{
    content: "";
    display: block;
    position: relative;
    width: 100%;
    height: 3px;
    top: -54px;
    /*background: #0065FC;*/
    border-top: solid #0065FC;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
}

.nav_bar li:hover::before{
    transform: scale(1);
    opacity: 1;
}

.nav_bar li a{
    position: relative;
}

.nav_bar li a:hover{
    color: #0065FC;
}

/*-------------------------------------------------------*/

h4{
    font-size: 25px;
    margin-right: 20px;
}

.search_filter h1{
    margin-bottom: 0;
}

.search_filter p{
    margin-top: 10px;
    font-size: 23px;
}

.city_input{
    position: relative;
    display: flex;
    width: 600px;
}

#city_input_location_logo{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;

    background-color: #F2F2F2;
    border-radius: 30% 0 0 30%;
}

#location{
    position: relative;
    width: 420px;
    padding-left: 15px;
    border: 1px solid #F2F2F2;
    font-weight: bold;
    font-size: 20px;
}

#search{
    position: relative;
    width: 200px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: solid #0065FC;
    border-radius: 0 15px 15px 0;
}

#search_txt{
    position: relative;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: solid #0065FC;
    border-radius: 0 15px 15px 0;
}

#search .icon_search{
    display: none;
}
/*-------------------------------------------------------*/

.filter_input{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin-top: 20px;
    align-items: center;
    font-size: 20px;
}

.filter_input a {
    position: relative;
    display: flex;
    font-weight: bold;
    margin: 10px;

    border: solid #F2F2F2;
    border-radius: 30px;
    z-index: 1;
}

.filter_input a:hover {
    color: white;
    background-color: #0065FC;
}

.filter_input span{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    padding: 0 10px;
}

.filter_input i{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;

    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
}

.filter_zone{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*-------------------------------------------------------*/

#more_home{
    font-size: 20px;
    display: flex;
    align-items: center;
}

#more_home i{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin-right: 10px;

    color: #0065FC;
    border: solid #F2F2F2;
    border-radius: 50%;
}

/*-------------------------------------------------------*/

main{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px 0 50px;
    width: 100%;
    height: auto;
}

h3{
    font-size: 22px;
    margin-bottom: -5px;
    margin-top: 10px;
}
/*-------------------------------------------------------*/

.hebergement{
    position: relative;
    display: flex;
    width: 63%;
    height: auto;
    padding: 40px;
    flex-direction: column;

    background: #F2F2F2;
    border-radius: 30px;
}

.hebergement_card{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.heb_card_std{
    position: relative;
    display: flex;
    width: 330px;
    height: 270px;
    padding: 5px;
    margin: 20px 0;

    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 20px -15px black;
    transition: transform .1s;
}

.heb_card_std:hover{
    transform: scale(1.05);

}

.heb_card_std img{
    width: 320px;
    height: 150px;
    border-radius: 30px 30px 0 0;
    object-fit: cover;
}

.fa-solid.fa-star.fa-lg{
    color: #0065FC;
}

.fa-solid.fa-star.fa-lg.empty{
    color: #d9d9d9;
}

.heb_card_std__txt{
    padding-left: 20px;
}

.hebergement__more_item{
    font-size: 20px;
    font-weight: bold;
}

/*-------------------------------------------------------*/

.popular{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 835px;
    padding: 40px;

    background: #F2F2F2;
    border-radius: 30px;
}

.popular__title{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.popular_card_std{
    position: relative;
    display: flex;
    width: auto;
    height: 200px;
    padding: 5px;
    margin: 20px 0;

    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 20px -15px black;
    transition: transform .1s;
}

.popular_card_std:hover{
    transform: scale(1.05);
}

.popular_card_std a{
    display: flex;
}

.popular_card_std img{
    max-width: 100%;
    width:180px;
    height: auto;
    border-radius: 30px 0 0 30px;
    object-fit: cover;
}

.popular_card__vertical_img{
    min-width: 180px;
    position: relative;
    overflow: hidden;
    justify-content: center;
    border-radius: 30px 0 0 30px;
}

.popular_card_std_txt{
    display: flex;
    flex-direction: column;
    padding: 10px 0 0 20px;
}

.popular_card_std_txt div{
    position: absolute;
    padding-top: 150px;
}

/*-------------------------------------------------------*/

.activities{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 80px;
}

.activities_bloc{
    gap: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    height: 590px;
}

.activities_bloc h3{
    margin: 20px 0 0 20px;
}

.bloc_std{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 24%;
    height: auto;
    overflow: hidden;

    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 20px -15px black;
    transition: transform .1s;
}

.bloc_std:hover{
    transform: scale(1.05 );
}

.activities_bloc_1{
    position: relative;
    display: flex;
    height: 590px;
    flex-direction: column;
}

.activities_bloc_1 img{
    height: 520px;
    object-fit: cover;
}

.activities_bloc_2{
    position: relative;
    display: flex;
    height: 310px;
    flex-direction: column;
}

.activities_bloc_2 img{
    height: 240px;
    object-fit: cover;
}

.activities_bloc_3{
    position: relative;
    display: flex;
    height: 215px;
    flex-direction: column;
}

.activities_bloc_3 img{
    height: 145px;
    object-fit: cover;
}

/*-------------------------------------------------------*/

footer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: 20px;
    background-color: #F2F2F2;
}

footer ul{
    width: 600px;
}

footer ul li{
    padding-bottom: 10px;
}

/*-------------------------------------------------------*/

@media (max-width: 768px){

    header{
        padding: 20px 0 0 0;
        width: 100%;
        flex-direction: column;
        /* justify-content: center; */
        text-align: center;
    }

    .logo{
        padding-left: 0;
        left: 0;
    }

    header nav{
        display: flex;
        width: 100%;
    }

    .nav_bar{
        display: flex;
        padding: 0;
        width: 100%;
        justify-content: space-around;
    }

    .nav_bar li{
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 4px solid #F2F2F2;
        font-size: 20px;
        font-weight: bold;

    }

    .nav_bar li:hover{
        border-bottom: 5px solid #0065FC;
    }

    .nav_bar li:hover::before{
        transform: scale(0);
        opacity: 1;
    }

    #search_txt{
        display: none;
    }
    #search .icon_search{
        display:inline-block;
    }

/*----------------*/
    main{
        width: 100%;
        padding: 0;
    }

    .search_filter{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0 20px;
    }

    .city_input{
        width: 100%;
    }

    #city_input_location_logo{
        width: 15%;
    }

    #location{
        width: 70%;
    }

    #search{
        width: 15%;
    }

    /*----------------*/

    .search_filter{
        order: -1;
    }

    .filter_zone{
        flex-direction: column;
    }

    .filter_input h4{
        margin-bottom: 0;
    }

    /*----------------*/

    .hebergement{

        width: 100%;
        height: auto;
        flex-direction: row;

        flex-wrap: wrap;
        padding: 0 25px 40px 20px;
        /* margin: 0 25px; */
        background-color: white;
    }

    .hebergement_card{
        width: 100%;
    }

    .heb_card_std {
        position: relative;
        display: flex;
        width: 100%;
        height: 270px;
    }

    .heb_card_std img{
        max-width: 100%;
        width:1000px;
        height: 150px;
    }

/*----------------*/
    
    .popular{
        order: -1;
        position: relative;
        padding: 0 25px;
        width: 100%;
        border-radius: 0;
    }

    .popular__title{
        position: relative;
        padding-top: 20px;
        font-size: 20px;
    }

/*----------------*/

    .activities{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 25px 20px 25px;
    }

    .activities h2{
        font-size: 32px;
    }

    .activities_bloc{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 220px;
    }

    .bloc_std{
        height: 290px;
        width: 100%;
        margin-bottom: 15px;
    }

    .bloc_std img{
        height: 78%;
    }

/*----------------*/

    footer{
        top: 1300px;
    }
}

/*-------------------------------------------------------*/

@media (min-width: 769px) and(max-width: 992px){
    
    main{
        flex-direction: column;
    }

    .activities h2{
        margin: 40px 0;
        height: auto;
    }

    .activities_bloc{
        width: 100%;
        height: auto;
    }

    .bloc_std{
        width: 100%;
        height: 400px;
        margin: 10px 0;
    }

    .bloc_std img{
        height: 83%;
    }
}

/*-------------------------------------------------------*/

@media (max-width: 1420px){

    .hebergement{
        width: 100%;
        margin-bottom: 30px;
    }

    .popular{
        width: 100%;
    }
}